[credential]
    helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
    useHttpPath = true
[credential "https://github.com"]
    username = fgdemussy
[user]
	name = François Gueneau de Mussy
	email = francois@chipax.com
